extends layout

block content
  .header Dagbók
  .diary
    .entry
      p Byrjað var á því að rissa upp hugmyndir um hvernig á að leysa vandamálið og hver meðlimur kom með hugmyndir.
      img(src='http://imgur.com/vyMh4Zh.png')
    .entry
      p Ákveðið var að nota skrefamótor úr gömlum prentara og L6470 mótorstýringu, notast var við library í mbed fyrir mótorstýringuna og mótorinn var prufaður
      img(src='http://imgur.com/tGaZu4W.png')
    .entry 
      p Notast var við forritið linkage til að setja upp tölvumódel og þá kom í ljós að upprunnalega hönnun var ekki góð og var því gerð ný hönnun
      img(src='http://imgur.com/dnGtUAI.png')
    .entry 
      p Ferillinn á þessu kerfi var ekki nógu brattur til þess að skeiðin kæmist ofan í skálina, því var búið til nýtt kerfi
      img(src='http://imgur.com/aRiZt6X.png')
    .entry
      p Búið var til módel úr pappa til að herma kerfið, kerfið virkaði eins og skildi
      img(src='http://imgur.com/oRcE3GI.png')
    .entry
      p Næst var farið í að smíða kerfið, armurinn sem var tengdur við þríhyrninginn og þríhyrningurinn sjálfur voru gerðir úr plastspjaldi en armur sem var tengdur við mótorinn var gerður úr hörðu plasti
      img(src='http://imgur.com/KQiogiq.png')
    .entry
      p Í ljós kom að kerfið var of þungt fyrir mótorinn þannig skorið var úr þríhyrninginum til að gera það léttara
      img(src='http://imgur.com/CuWOgI1.png')