extends layout

block content
  .header Súpuvélin
  .twitch 
    <iframe src="https://player.twitch.tv/?channel=spoonme3000" allowfullscreen></iframe>
  .youtube
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZgL1ycOU3kE" frameborder="0" allowfullscreen></iframe>
  .footer Þetta verkefni er eftir Óskar Ólafsson, Daníel Andra Pálsson og Steinar Sindra Agnarsson.
