extends layout

block content
  .header Súpuvélin
  .twitch 
    <iframe src="http://player.twitch.tv/?channel=spoonme3000" allowfullscreen></iframe>
  .footer Þetta verkefni er eftir Óskar Ólafsson, Daníel Andra Pálsson og Steinar Sindra Agnarsson.
