extends layout

block content
  .header Súpuvélin
  .twitch 
    iframe(src='http://player.twitch.tv/?spoonme3000', height='400', width='600', frameborder='0', scrolling='no', allowfullscreen='true')
  .footer Þetta verkefni er eftir Óskar Ólafsson, Daníel Andra Pálsson og Steinar Sindra Agnarsson.
